.carrusel{
    width: 800px;
    right: 400px;
    margin:auto;
    padding-bottom: 50px;
}
.logo{
    padding-left:10px;
    width: 80px;
}
.espacio{
    width: 80px;
}
.piepagina{
    width: 100%;
    right: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-around;
    font-size: small;
    padding-top: 10px;
}
.parrafo{
    width: 800px;
    display:flex;
    padding-bottom: 50px;
    text-align: justify;
    font-size: large;
}
.Titulo{
    color: black;
    text-align: center;
    font-size: xx-large;
    padding-top: 60px;
    padding-bottom: 60px;
} 
.gallery{
    padding:80px 0px;
}
.gallery img{
    background: white;
    padding: 15px;
    width: 100%;
}
.image-text {
    display:none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 1;
}
.gallery-item-container {
    position: relative;
}
img{
    max-width: 100%;
} 
body{
    background-color: rgb(255, 193, 193);
}